@model SMSe.BLL.ModelViews.TeacherView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Subjects", "Subjects", new {id = Model.id}) |
    @Html.ActionLink("Edit", "Edit", new {id = Model.id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
